.idea/*
__pycache__
mitsuba2_scripts
output
!data/output
resources
source/map_generation/runs
logs
checkpoints_mapgen
code_phillip
checkpoint
output_meshdef
output_mapgen
eval
execute_pipeline
logs_pipeline
